body {
    font-family: "Palatino Linotype", "Book Antiqua", serif;
    background-color: lightgrey;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: #2ac0fc;
}

.boxes {
    
    display: block;
    margin: 0.1em;
    padding: 0.1em;
    border: solid black 0.1em;
    border-radius: 1em;
    width: 20%;

}

a:hover {
    color: #d43e10;
    font-weight: bolder;
    cursor: pointer;
}

.color-change {
    font-weight: 200;
    color: #05af3e;
}

#box4 {
    background: yellow;
}

#box3 {
    background: rgb(16, 139, 221)
}

#box2 {
    background: pink;
    
    
}

#box1 {
    background: orange;
}

/* Why does adding an image increase distance from title to top border of div?*/
.image-header {
    width: 1.9em;
    height: 1.9em;
    background-color: white;
    position: relative;
    top: 3.1em;   
}

h1 {
    color: #1528da;
}

.orange-font, .orange-friends, #orangeFriend, .orange-travel, #orangeTravel, .orange-restaurant, #orangeRestaurant{
    color: orange;
}

.purple-font, #purpleFriend, .purple-friends, .purple-travel, #purpleTravel, .purple-restaurant, #purpleRestaurant{
    color: purple;
}

#show1, #greenFriend, .green-friends, #greenTravel, .green-travel, .green-restaurant, #greenRestaurant {
    color: green;
}
#show2, #yellowFriend, .yellow-friends, #yellowTravel, .yellow-travel, .yellow-restaurant, #yellowRestaurant {
    color: yellow;
}
#show3 {
    color: gray;
}
#show4 {
    color: black;
}
#show5 {
    color: magenta;
}

#redFriend, .red-friends, #redTravel, .red-travel, .red-restaurant, #redRestaurant {
    color: red;
}

.solid-black-border {
    border: solid black 2px;
}